@import url('bootstrap/dist/css/bootstrap.min.css');

*{
  margin: 0;
  padding: 0%;
  border-radius:0% ;
}

.dark {
  background-color: rgba(17, 17, 17, 0.971);
  color: #fff;
}
.light {
  background-color: #fff;
  color: rgb(26, 26, 26);
}

.grid{
    display:grid;
    grid-template-columns: repeat(3,30%);
    grid-auto-rows:40%;
    gap:3%;
    background-color: white;
    border-radius: 10px;
    height: auto;
}